.parent-cont {
	/* height: 100vh; */
	background-color: rgba(235, 241, 237, 1);
}

.phone-cont {
	height: 60px;
	border-radius: 6px;
}

.phone-label {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #333333;
	margin-bottom: 10px;
}

.parent-cont-2 {
	height: 100vh;
	background-color: rgba(235, 241, 237, 1);
}

.banner {
	width: 100%;
	padding: 10px 10px 10px 20px;
	/* border: 1px solid black; */
}

.body {
	/* border: 1px solid black; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.body-2 {
	/* border: 1px solid black; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	/* height: 100%; */
}

.form-title {
	font-family: 'DM Sans';
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	color: #333333;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.form-title-1 {
	/* font-family: 'DM Sans'; */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 46px;
	text-align: center;
	color: #333333;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.form-text {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	width: 500px;
	/* border: 1px solid red; */
}

.form-cont {
	padding: 20px;
	width: 488px;
	background: #ffffff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
}

.form-cont-otp {
	padding: 20px;
	width: 450px;
	background: #ffffff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
}

.input-holder {
	width: 100%;
	margin-bottom: 25px;
	/* height: 66px; */
}

.input-holder-1 {
	width: 450px;
	margin-bottom: 20px;
}

.input-holder-otp {
	width: 200px;
	margin-bottom: 20px;
}

.location-cont {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.location-cont-child {
	margin-bottom: 25px;
	width: 100%;
}

.location-cont-child:nth-child(1) {
	margin-right: 15px;
}

.tc-cont {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: rgba(113, 172, 133, 1);
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 20px;
}

/* Customize the label (the container) */
.check-box-cont {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.check-box-cont input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.check-box-cont:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box-cont input:checked ~ .checkmark {
	background-color: rgba(71, 238, 129, 0.5);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.check-box-cont input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.check-box-cont .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 15px;
	border: solid rgba(3, 166, 60, 1);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.check-cont {
	width: 215px;
	height: 215px;
	mix-blend-mode: darken;
	background-color: rgba(71, 238, 129, 0.5);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.success-title {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 46px;
	text-align: center;
	color: #333333;
	margin-top: 45px;
}

.success-text {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}

.otp-entry-form-text {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	width: 486px;
	/* border: 1px solid red; */
}

.enter-otp-link {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-decoration-line: underline;
	color: #03a63c;
	cursor: pointer;
	margin-top: 50px;
}

.resent-otp-link {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-decoration-line: underline;
	color: #333333;
	cursor: pointer;
	margin-top: 10px;
}

.otp-input-cont {
	width: 200px;
	/* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.otp-input[type='text'] {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 44px;
	line-height: 57px;
	color: #03a63c;
}

.otp-input {
	width: 40px;
	height: 40px;
	background: #f7f7f7;
	border: 1px solid #c0c0c0;
	border-radius: 6px;
	text-align: center;
}

.otp-aux-link {
	font-family: 'DM Sans';
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #333333;
	cursor: pointer;
	text-decoration: none;
}

.otp-aux-link-2 {
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #333333;
	cursor: pointer;
	text-decoration: none;
}

.otp-aux-link:nth-child(1) {
	text-decoration: underline;
}

@media screen and (max-width: 769px) {
	.parent-cont,
	.parent-cont-2 {
		padding: 0px 15px;
	}

	.banner {
		padding: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form-cont,
	.form-cont-otp {
		width: 100%;
		margin: 0px auto;
	}

	.location-cont {
		flex-direction: column;
		width: 100%;
		/* border: 1px solid red; */
	}

	.location-cont-child {
		width: 100%;
	}

	.location-cont-child:nth-child(1) {
		margin-right: 0px;
	}
}

@media screen and (max-width: 769px) {
	.form-text,
	.otp-entry-form-text {
		width: 100%;
		padding: 0px 10px;
	}

	.otp-input-cont {
		width: 100%;
	}

	.otp-input {
		width: 40px;
		height: 40px;
	}

	.input-holder-1 {
		width: 100%;
	}
}
